USE [DBACCOUNT]
GO
/****** Object:  Trigger [dbo].[STOCK_ADJUSTMENT]    Script Date: 20/01/2024 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[STOCK_ADJUSTMENT]
ON [dbo].[TBLSALES]
AFTER INSERT,UPDATE,DELETE
AS
BEGIN
	
	DECLARE @SOLDPRODUCTID INT,@SOLDSTOCK SMALLINT
	SELECT @SOLDPRODUCTID = PRODUCTID,@SOLDSTOCK = QUANTITY FROM INSERTED

	DECLARE @OLDSOLDPRODUCTID INT,@OLDSOLDSTOCK SMALLINT
	SELECT @OLDSOLDPRODUCTID = PRODUCTID,@OLDSOLDSTOCK = QUANTITY FROM DELETED

	IF EXISTS(SELECT * FROM INSERTED) AND NOT EXISTS(SELECT * FROM DELETED) -- INSERT
		BEGIN
			UPDATE TBLPRODUCTS SET STOCKLEVEL = STOCKLEVEL - @SOLDSTOCK WHERE ID=@SOLDPRODUCTID
		END
	IF EXISTS(SELECT * FROM INSERTED) AND EXISTS(SELECT * FROM DELETED) -- UPDATE
		BEGIN
			UPDATE TBLPRODUCTS SET STOCKLEVEL = STOCKLEVEL + @OLDSOLDSTOCK WHERE ID=@OLDSOLDPRODUCTID
			UPDATE TBLPRODUCTS SET STOCKLEVEL = STOCKLEVEL - @SOLDSTOCK WHERE ID=@SOLDPRODUCTID
		END
	IF NOT EXISTS(SELECT * FROM INSERTED) AND EXISTS(SELECT * FROM DELETED) -- DELETE
		BEGIN
			UPDATE TBLPRODUCTS SET STOCKLEVEL = STOCKLEVEL + @OLDSOLDSTOCK WHERE ID=@OLDSOLDPRODUCTID
		END

END

