USE [DBACCOUNT]
GO
/****** Object:  Trigger [dbo].[TOTAL_AMOUNT_MAKER]    Script Date: 20/01/2024 16:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[TOTAL_AMOUNT_MAKER]
ON [dbo].[TBLSALES]
AFTER INSERT,UPDATE
AS
BEGIN
	
	DECLARE @ID INT,@NEWPRODUCTID INT ,@NEWSELLPRICE DECIMAL(18,2),@NEWQUANTITY SMALLINT
	SELECT @ID= ID,@NEWPRODUCTID = PRODUCTID,@NEWQUANTITY = QUANTITY FROM INSERTED
	SELECT @NEWSELLPRICE = SELLPRICE FROM TBLPRODUCTS WHERE ID = @NEWPRODUCTID
	
	IF EXISTS(SELECT * FROM INSERTED) AND NOT EXISTS(SELECT * FROM DELETED)
	BEGIN
		UPDATE TBLSALES SET TOTAL = @NEWQUANTITY*@NEWSELLPRICE WHERE ID = @ID
	END

	IF EXISTS(SELECT * FROM INSERTED) AND EXISTS(SELECT * FROM DELETED)
	BEGIN
		
		DECLARE @OLDQUANTITY SMALLINT,@OLDPRODUCTID INT ,@OLDSELLPRICE DECIMAL(18,2)

		SET @OLDQUANTITY =(SELECT QUANTITY FROM DELETED)
		SET @OLDPRODUCTID = (SELECT PRODUCTID FROM DELETED)
		SET @OLDSELLPRICE = (SELECT SELLPRICE FROM TBLPRODUCTS WHERE ID=@OLDPRODUCTID)
		
		UPDATE TBLSALES SET TOTAL = 
		TOTAL - (@OLDQUANTITY*@OLDSELLPRICE) + (@NEWQUANTITY*@NEWSELLPRICE)
		WHERE ID = @ID
	END

END
