USE [DBACCOUNT]
GO
/****** Object:  Trigger [dbo].[CLIENT_BALANCE_MAKER]    Script Date: 20/01/2024 16:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE TRIGGER TOTAL_AMOUNT_MAKER
--ON TBLSALES
--AFTER INSERT
--AS
--BEGIN

--DECLARE @NEWID INT
--DECLARE @NEWPRODUCTID INT
--DECLARE @NEWSELLPRICE DECIMAL(18,2)

--SELECT @NEWID = ID FROM INSERTED
--SELECT @NEWPRODUCTID = PRODUCTID FROM INSERTED
--SELECT @NEWSELLPRICE = SELLPRICE FROM TBLPRODUCTS WHERE ID = @NEWPRODUCTID

--UPDATE TBLSALES SET TOTAL = QUANTITY*@NEWSELLPRICE WHERE ID=@NEWID

--END

ALTER TRIGGER [dbo].[CLIENT_BALANCE_MAKER]
ON [dbo].[TBLSALES]
AFTER UPDATE
AS
BEGIN

DECLARE @NEWBALANCE DECIMAL(18,2),@NEWCLIENTID SMALLINT
SET @NEWCLIENTID = (SELECT CLIENTID FROM INSERTED)
SET @NEWBALANCE = (SELECT SUM(TOTAL) FROM TBLSALES WHERE CLIENTID = @NEWCLIENTID)


DECLARE @OLDBALANCE DECIMAL(18,2),@OLDCLIENTID SMALLINT
SET @OLDCLIENTID = (SELECT CLIENTID FROM DELETED)
SET @OLDBALANCE = (SELECT SUM(TOTAL) FROM TBLSALES WHERE CLIENTID = @OLDCLIENTID)

UPDATE TBLCLIENTS SET BALANCE = @OLDBALANCE WHERE ID = @OLDCLIENTID
UPDATE TBLCLIENTS SET BALANCE = @NEWBALANCE WHERE ID = @NEWCLIENTID

END
